form {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 2px solid;
  padding: 10px;
  margin: 0;
  width: 400px;
}

.code_name {
  margin-bottom: 10px;
  align-self: center;
}

textarea {
  height: 100px;
  margin-bottom: 10px;
}

.CreateCodeFormButtons {
  display: block;
  justify-content: space-between;
}