.main-img {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

.main-buttons {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.welcome > h3 {
  font-size: x-large;
}

.welcome > p {
  font-size: x-large;
}

.home-image {
  width: 450px;
  height: 500px;
}

hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
}
hr:after {
  content: "\00a0";  /* Prevent margin collapse */
}
